@charset "ITF-8";

body {
    background: rgb(40, 132, 207);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color: rgb(58, 214, 19);
    text-align: center;
    font-style: italic;
}