* {
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

button {
    background-color: #eee;
    padding: 10px 50px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    outline: 3px solid red;
}